<h1 id="signin-title" hidden>Login</h1>
<form role="form" id="signin" hidden>
  <div class="form-group"><label for="id_ktp_login">No
      KTP</label><input type="text" class="form-control" id="id_ktp_login" placeholder="your id card..." /></div>
  <div class="form-group"><label for="id_email_login">Email
      address</label><input type="email" class="form-control" id="id_email_login" placeholder="your email..." /></div>
  <button id="login" type="submit" class="btn green m-1">Sign
    in</button>
  <p>Don't Have Account ? <a id="signup-in-trans">Sign up now.</a>
  </p>
</form>
