<h1 id="signup-title" hidden>Signup</h1>
<form id="signup" method="POST" role="form" hidden>
  {% csrf_token %}
  <div class="form-group"><label for="id_ktp">No KTP</label>
    <div id="check-ktp" class="lds-ripple">
      <input type="text" class="form-control" id="id_ktp" name="ktp" placeholder="your id card..." />
      <div id="loading-ktp" class="sk-circle">
      </div>
    </div>
  </div>
  <div class="form-group"><label for="id_nama">Nama
      Lengkap</label><input type="name" class="form-control" id="id_nama" name="nama" placeholder="your name..." />
  </div>
  <div class="form-group"><label for="id_email">Email
      address</label>
    <div id="check-email" class="lds-ripple">
      <input type="email" class="form-control" id="id_email" name="email" placeholder="your email..." />
      <div id="loading-email" class="sk-circle"></div>
    </div>
  </div>
  <div class="form-group"><label for="id_tgl_lahir">Tanggal Lahir
      address</label><input type="date" class="form-control" id="id_tgl_lahir" name="tgl_lahir"
      placeholder="your phone number" />
  </div>
  <div class="form-group"><label for="id_no_telp">No.
      Telepon</label><input type="text" class="form-control" id="id_no_telp" name="no_telp"
      placeholder="your phone number" /></div>
  <div class="form-group"><label for="id_alamat">Alamat</label><input type="text" class="form-control" id="id_alamat"
      name="alamat" placeholder="your address..." />
  </div>
  <select id="id_role" class="ui fluid dropdown">
    <option hidden value="">Role</option>
    <option value="ADMIN">ADMIN</option>
    <option value="ANGGOTA">ANGGOTA</option>
    <option value="PETUGAS">PETUGAS</option>
  </select>
  <button disabled id="submit" type="submit" class="btn green m-1">Sign
    up</button>
  <p>Already have account ? <a id="signin-trans">Sign in here.</a>
  </p>
</form>
