<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>Daftar Penugasan</title>
    <meta name="description" content="Wireframe design of a checkout form by Pingendo">
    <meta name="keywords" content="Pingendo bootstrap example template wireframe checkout form">
    <meta name="author" content="Pingendo">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href={% static 'wireframe.css' %}>
</head>

<body class="bg-light">
<div class="py-5">
    <div class="container">
        <h1 align="middle">DAFTAR PENUGASAN</h1>
        <br>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>No</th>
                <th>Petugas</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Akhir</th>
                <th>Stasiun</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% for i in Penugasan}
            <tr>
                <td>1</td>
                <td>Ulang Tahun Sharebike</td>
                <td>Game - game</td>
                <td>15 April 2019</td>
                <td>15 April 2019</td>
                <td>Ya</td>
                <td>
                    <button type="button" class="btn btn-dark">Update</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
            </tr>

            <tr>
                <td>dst</td>
                <td>dst</td>
                <td>dst</td>
                <td>dst</td>
                <td>dst</td>
                <td>dst</td>
                <td>dst</td>
            </tr>
            </tbody>
        </table>

        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>
</body>

</html>